In [1]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [2]:
zipcodes = gpd.read_file('../data/zipcodes.geojson')
print(zipcodes.crs)
zipcodes.head( )

EPSG:4326

,zip,objectid,po_name,shape_stlength,shape_starea,geometry
0,37115,1,MADISON,178783.02488886821,596553400.57885742,"MULTIPOLYGON (((-86.68725 36.31821, -86.68722 ..."
1,37216,3,NASHVILLE,75820.997821400058,188884682.28344727,"MULTIPOLYGON (((-86.73451 36.23774, -86.73425 ..."
2,37204,9,NASHVILLE,93180.292250425613,200664795.51708984,"MULTIPOLYGON (((-86.77914 36.13424, -86.77923 ..."
3,37027,11,BRENTWOOD,159760.6942933173,174978422.04101562,"MULTIPOLYGON (((-86.81258 36.06319, -86.81263 ..."
4,37064,18,FRANKLIN,28995.828320601937,46969608.005737305,"MULTIPOLYGON (((-87.02197 36.01200, -87.02140 ..."

In [12]:
nashville_parks = gpd.read_file('../data/Metro Parks Boundaries (GIS).geojson')

In [13]:
print(nashville_parks)

              acres                  name year_estab
0             69.86    Harpeth River Park       1988  \
1              9.88    Harpeth Knoll Park       1972
2             17.14         Bellevue Park       1982
3            809.59       Bells Bend Park       2007
4          2168.792  Alvin G. Beaman Park       1996
..              ...                   ...        ...
282    3.7454340524                   NaN       2003
283   1.46849965739                   NaN       2000
284  0.181880190971                   NaN       2003
285   7.30424931138                   NaN       2014
286   6.50392802351                   NaN       2002

                                    common_nam status
0                                Harpeth River   PARK  \
1                                Harpeth Knoll   PARK
2                                  Red Caboose   PARK
3                                   Bells Bend   PARK
4                                       Beaman   PARK
..                                         ...    ...
282  Stones River Greenway - Lebanon Pk to Dam     GW
283          Stones River Greenway - Alta Lake     GW
284  Stones River Greenway - Lebanon Pk to Dam     GW
285              Whites Creek Community Garden   PARK
286    Mill Creek Greenway - Whittimore Branch     GW

                     address           lon          lat
0        7820 Coley Davis Rd   -86.9592214  36.07738249  \
1    708 Goodpasture Terrace  -86.93815537  36.05942777
2       656 Colice Jeanne Rd  -86.93354496  36.07159731
3      4187 Old Hickory Blvd  -86.92646294  36.15016925
4     5911 Old Hickory Blvd.  -86.91984207  36.26075833
..                       ...           ...          ...
282  100 Stewarts Ferry Pkwy             0            0
283             3940 Bell Rd             0            0
284                      NaN             0            0
285   3832 Whites Creek Pike             0            0
286    5824 Nolensville Pike             0            0

                                            descriptio
0    Harpeth River State Park has much historical a...  \
1    Huge grassy field with playground, and shade s...
2    Bellevue Park, known as Red Caboose Park, is p...
3    Located in western Davidson County, this park ...
4    Beaman Park provides education and awareness p...
..                                                 ...
282                                                NaN
283                                                NaN
284                                                NaN
285                                                NaN
286                                                NaN

                                              geometry
0    MULTIPOLYGON (((-86.95547 36.07930, -86.95578 ...
1    MULTIPOLYGON (((-86.93860 36.06077, -86.93742 ...
2    MULTIPOLYGON (((-86.93207 36.06954, -86.93283 ...
3    MULTIPOLYGON (((-86.93987 36.16093, -86.93495 ...
4    MULTIPOLYGON (((-86.90367 36.27352, -86.90364 ...
..                                                 ...
282  MULTIPOLYGON (((-86.62732 36.16291, -86.62669 ...
283  MULTIPOLYGON (((-86.60819 36.16592, -86.60817 ...
284  MULTIPOLYGON (((-86.64052 36.17177, -86.64067 ...
285  MULTIPOLYGON (((-86.82873 36.25082, -86.82857 ...
286  MULTIPOLYGON (((-86.71266 36.04247, -86.71235 ...

[287 rows x 10 columns]

In [15]:
nashville_parks['geometry'] = nashville_parks.apply(lambda x: Point((x.lon, 
                                                         x.lat)), 
                                        axis=1)
nashville_parks.head(5)

,acres,name,year_estab,common_nam,status,address,lon,lat,descriptio,geometry
0,69.86,Harpeth River Park,1988,Harpeth River,PARK,7820 Coley Davis Rd,-86.9592214,36.07738249,Harpeth River State Park has much historical a...,POINT (-86.95922 36.07738)
1,9.88,Harpeth Knoll Park,1972,Harpeth Knoll,PARK,708 Goodpasture Terrace,-86.93815537,36.05942777,"Huge grassy field with playground, and shade s...",POINT (-86.93816 36.05943)
2,17.14,Bellevue Park,1982,Red Caboose,PARK,656 Colice Jeanne Rd,-86.93354496,36.07159731,"Bellevue Park, known as Red Caboose Park, is p...",POINT (-86.93354 36.07160)
3,809.59,Bells Bend Park,2007,Bells Bend,PARK,4187 Old Hickory Blvd,-86.92646294,36.15016925,"Located in western Davidson County, this park ...",POINT (-86.92646 36.15017)
4,2168.792,Alvin G. Beaman Park,1996,Beaman,PARK,5911 Old Hickory Blvd.,-86.91984207,36.26075833,Beaman Park provides education and awareness p...,POINT (-86.91984 36.26076)

In [16]:
zipcodes.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [17]:
park_geo = gpd.GeoDataFrame(nashville_parks, 
                           crs = zipcodes.crs, 
                           geometry = nashville_parks['geometry'])

In [20]:
print(type(park_geo))

<class 'geopandas.geodataframe.GeoDataFrame'>